<app-intro title="{{ 'template.' + translateSectionName + '.title' | translate }}"
           subtitle="{{ 'template.' + translateSectionName + '.subtitle' | translate }}">
</app-intro>

<services-tiles id="page"
                [starter]="starter"
                [standart]="standart"
                [pro]="pro">
</services-tiles>

<div class="circles">
  <services-circles title="Front-End"
                    [circles]="front_circles">

  </services-circles>
  
  <services-circles title="Back-End"
                    [circles]="back_circles">

  </services-circles>
</div>