<section class="latest-proj">
    <div class="container">
        <div class="main-title">
            <h1>{{ 'template.home.top_projects.title' | translate }}</h1>
        </div>

        <div class="row">

            <div class="col-md-4 col-12" data-aos="zoom-in-up"
                 *ngFor="let project of topProjects">
                <a [href]="project.link" target="_blank">
                    <div class="block">
                        <div class="title">
                            <h4>{{ project.name }}</h4>
                        </div>
                        <div [style.background-image]="'url(' + project.imageUrl + ')'"
                              class="project-image">
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>