<section class="services">
    <div class="container">
        <div class="service row flex-md" data-aos="fade-up">
            <div class="col-md-6 order-sm-2 col-sm-12 col-12 service__content">
                <h2><strong>| Web</strong>{{ 'template.home.services.web.title_end' | translate }}</h2>

                <p>
                    {{ 'template.home.services.web.description' | translate }}
                </p>

                <a [routerLink]="['/', appRoutes.SERVICES, appRoutes.SERVICES_WEB]" type="button" class="btn btn-success btn-lg">
                    {{ 'template.home.services.button_text' | translate }}
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 order-sm-1 col-sm-12 col-12 flex-md flex-justify-content-center-md">
                <img class="img-fluid justify-content-center" src="assets/img/Service/web_big.jpg">
            </div>
        </div>

        <div class="service row flex-md" data-aos="fade-up">
            <div class="col-md-6 col-sm-12 col-12 service__content">
                <h2><strong>| Desktop</strong>{{ 'template.home.services.desktop.title_end' | translate }}</h2>

                <p>
                    {{ 'template.home.services.desktop.description' | translate }}
                </p>

                <a href="Service-Desktop.html" type="button" class="btn btn-warning btn-lg">
                    {{ 'template.home.services.button_text' | translate }}
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 col-12 flex-md flex-justify-content-center-md">
                <img class="img-fluid center-block" src="assets/img/Service/desktop_big.jpg">
            </div>
        </div>

        <div class="service row flex-md" data-aos="fade-up">
            <div class="col-md-6 order-sm-2 col-sm-12 col-12 service__content">
                <h2><strong>| Arduino</strong>{{ 'template.home.services.arduino.title_end' | translate }}</h2>

                <p>
                    {{ 'template.home.services.arduino.description' | translate }}
                </p>

                <a href="Service-Arduino.html" type="button" class="btn btn-info btn-lg">
                    {{ 'template.home.services.button_text' | translate }}
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 order-sm-1 col-sm-12 col-12 flex-md flex-justify-content-center-md">
                <img class="img-fluid center-block" src="assets/img/Service/arduino_big.jpg">
            </div>
        </div>

        <div class="service row flex-md" data-aos="fade-up">
            <div class="col-md-6 col-sm-12 col-12 service__content">
                <h2><strong>| Hosting</strong> {{ 'template.home.services.hosting.title_tr' | translate }} <strong>Server</strong></h2>

                <p>
                    {{ 'template.home.services.hosting.description' | translate }}
                </p>

                <a href="Service-Hosting.html" type="button" class="btn btn-danger btn-lg">
                    {{ 'template.home.services.button_text' | translate }}
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 col-12 service__img_right flex-md flex-justify-content-center-md">
                <img class="img-fluid center-block" src="assets/img/Service/server_big.jpg">
            </div>
        </div>
    </div>
</section>