<app-dashboard-card width="1000px">
  <mat-card-header>
    <mat-card-title>Setup Project Wizard</mat-card-title>
    <mat-card-subtitle>
      You can create and modify your project in portfolio using this user friendly tool
    </mat-card-subtitle>
  </mat-card-header>

   <mat-card-content>

   </mat-card-content>
</app-dashboard-card>

<app-dashboard-actions-bar width="1000px">
  <span class="spacer"></span>

  <button action-bar-item
          mat-raised-button
          color="primary"
          >
    Save
  </button>

  <button action-bar-item
          mat-stroked-button
          color="warn"
          >
    Cancel
  </button>
</app-dashboard-actions-bar>