<app-dashboard-card>
  <app-dashboard-actions-bar style="display: flex">
    <button action-bar-item
            mat-raised-button
            color="primary"
            (click)="action('new')">
      New
    </button>

    <span class="spacer"></span>

    <app-dashboard-action-bar-dropdown action-bar-item>
      <button mat-menu-item (click)="action('edit')">Edit</button>
      <button mat-menu-item (click)="action('delete')">Delete</button>
    </app-dashboard-action-bar-dropdown>
  </app-dashboard-actions-bar>
</app-dashboard-card>

<app-dashboard-card title="Portfolio">

  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">apps</mat-icon>
        Projects
      </ng-template>

      <app-dashboard-main-portfolio-projects></app-dashboard-main-portfolio-projects>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">tag</mat-icon>
        Tags
      </ng-template>

      <app-dashboard-main-portfolio-tags></app-dashboard-main-portfolio-tags>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">call_made</mat-icon>
        Top
      </ng-template>

      <app-dashboard-main-portfolio-top></app-dashboard-main-portfolio-top>

    </mat-tab>
  </mat-tab-group>

</app-dashboard-card>
