<app-dashboard-card>
  <app-dashboard-actions-bar style="display: flex">
    <button action-bar-item
            mat-raised-button
            color="primary"
            (click)="newProject()">New</button>

    <span class="spacer"></span>

    <app-dashboard-action-bar-dropdown action-bar-item>
      <button mat-menu-item (click)="editProject()">Edit</button>
      <button mat-menu-item (click)="deleteProject()">Delete</button>
    </app-dashboard-action-bar-dropdown>
  </app-dashboard-actions-bar>
</app-dashboard-card>

<app-dashboard-card title="Projects">

  <div class="projects-grid">
    <app-dashboard-main-portfolio-project *ngFor="let project of projects"
                                          [project]="project"
                                          (isChecked)="$event
                                            ? selectedItems.push(project)
                                            : selectedItems.splice(selectedItems.indexOf(project))"
                                          (onEdit)="editProject(project.id)"
                                          (onDelete)="deleteProject(project.id)">
      
    </app-dashboard-main-portfolio-project>
  </div>

  <mat-paginator [length]="projectsCount"
                 [pageSize]="6"
                 [pageSizeOptions]="[6, 12, 36]"
                 showFirstLastButtons
                 aria-label="Select page">
  </mat-paginator>

</app-dashboard-card>
