<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-checkbox color="primary"
                    (change)="isChecked.emit($event.checked)">
      </mat-checkbox>
    </div>

    <mat-card-title>{{ project.name }}</mat-card-title>
    <mat-card-subtitle>
      <a [href]="project.link" target="_blank"
         class="project-link" [matTooltip]="project.link">
        Project link
      </a>
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="project.imageUrl" alt="Photo of a Project">

  <mat-card-content class="flex-fill flex-center">
    <div class="tag-container">
      <div *ngFor="let tag of project.tags"
           [style.background-color]="tag.color"
           class="tag">{{ tag.name }}
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <span class="spacer"></span>
    <button mat-stroked-button color="warn"
            class="action-btn" (click)="onDelete.emit()">
      Delete
    </button>
    <button mat-raised-button color="primary"
            class="action-btn" (click)="onEdit.emit()">
      Edit
    </button>
  </mat-card-actions>
</mat-card>