/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #0f1922;
  color: white;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  width: 100%;
}

.card {
  width: 400px;
}

.actions {
  display: flex;
}

.actions > * {
  margin: 0 10px;
}

.actions__btn {
  flex: 1 1 auto;
  margin-top: 10px;
}
