/* You can add global styles to this file, and also import other style files */

/* =========================================== */
/* Main
/* =========================================== */

:root {
  --color-background: #0f1922;
  --color-primary: #1ba39c;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: grey;
}

a:hover {
  color: var(--color-primary);
}

mat-form-field {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-container .tag {
  width: 90px;
  height: 40px;

  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  text-align: center;

  margin: 5px 5px;
  color: white;
}

.back-link {
  margin: 15px;
}

.back-link > a {
  text-decoration: none ;
}
