<div class="service-cirlces">
    <div class="container">
        <h2>{{title}}</h2>

        <div class="circle-block">
            <div class="flex flex-justify-content-center">

                <div *ngFor="let circle of circles"
                      style.border-color="{{circle.color}}"
                      class="circle"
                      data-aos="zoom-in">
                    <div class="effect">
                        <p>{{circle.text}}</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
  </div>