<div class="col-md-6">
  <div class="project" data-aos="fade-up">
      <div class="title">
          <a [routerLink]="['/', 'portfolio']">
              <div class="row">
                  <div class="col-md-11 col-xs-10">Smart Home</div>
                  <div class="col-md-1 col-xs-2">
                      <i class="fa fa-angle-double-right"></i>
                  </div>
              </div>
          </a>
      </div>
      
      <div class="img">
          <img src="assets/img/Projects/proj1.jpg" class="img-responsive img-rounded">

          <div class="overlay">
              <div class="body">
                  <h2>Smart Home</h2>

                  <div class="flex flex-justify-content-center">
                      <div class="prog_language cs">C#</div>
                      <div class="prog_language wpf">WPF</div>
                      <div class="prog_language mysql">MySQL</div>
                      <div class="prog_language arduino">Arduino</div>
                      <div class="prog_language iot">IoT</div>
                      <div class="prog_language pcb">PCB</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>