<div class="project">
    <div class="title">
        <a [href]="projectModel.href">
            <div class="row">
                <div class="col-md-11 col-10">{{projectModel.title}}</div>
                <div class="col-md-1 col-2">
                    <i class="fa fa-angle-double-right"></i>
                </div>
            </div>
        </a>
    </div>
    
    <div class="img">
        <img [src]="projectModel.image" class="img-fluid rounded">

        <div class="overlay">
            <div class="body">
                <h2>{{projectModel.title}}</h2>

                <div class="flex flex-justify-content-center">
                    <div *ngFor="let tag of projectModel.tags"
                          [style.background-color]="tag.color"
                          class="prog_language pcb">{{tag.text}}</div>
                </div>
            </div>
        </div>
    </div>
</div>