<table mat-table
      [dataSource]="data"
      [matSortActive]="tableOptions.sort"
      matSortDirection="asc" matSort matSortDisableClear>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                    color="primary">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    color="primary">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Column -->
  <ng-container [matColumnDef]="property" *ngFor="let property of getTableDataElementProperties(); let i = index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ tableConfiguration[i].title }}</th>

    <td mat-cell *matCellDef="let element">
      <ng-template #text
                   [ngIf]="isTypeOf(tableConfiguration[i].type, 'TableText')">
        {{ element[property] }}
      </ng-template>

      <ng-template #color
                   [ngIf]="isTypeOf(tableConfiguration[i].type, 'TableColor')">
        <div class="color-container">
          <div class="color-rect"
               [style]="'background-color:' + element[property]">
          </div>
          {{ element[property] }}
        </div>
      </ng-template>

      <ng-template #image
                   [ngIf]="isTypeOf(tableConfiguration[i].type, 'TableImage')">
        <div class="resource-img-container">
          <img class="resource-img" [src]="element[property]">
        </div>
      </ng-template>

      <ng-template #button
                   [ngIf]="isTypeOf(tableConfiguration[i].type, 'TableButton')">
        <span *ngIf="!getTableButton(tableConfiguration[i].type).expression(element[property])">
          {{ element[property] }}
        </span>

        <button *ngIf="getTableButton(tableConfiguration[i].type).expression(element[property])"
                mat-raised-button color="primary"
                (click)="getTableButton(tableConfiguration[i].type).click(element['id'], property)">
                {{ getTableButton(tableConfiguration[i].type).btn_text }}
        </button>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
</table>

<mat-paginator [length]="totalCount"
               [pageSizeOptions]="[30, 50, 100]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>