<table mat-table
      [dataSource]="data"
      [matSortActive]="tableOptions.sort"
      matSortDirection="asc" matSort matSortDisableClear>

  <!-- Column -->
  <ng-container [matColumnDef]="option.name" *ngFor="let option of tableConfiguration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ option.title }}</th>

    <td mat-cell *matCellDef="let element">
      <div *ngIf="endsWith(element[option.name], '.png') ||
                  endsWith(element[option.name], '.jpg') ||
                  endsWith(element[option.name], '.jpeg');
                  else textOnly"
           class="resource-img-container">

        <img class="resource-img" [src]="serverConfig.getResourcesUrl() + element[option.name]">
      </div>

      <ng-template #textOnly>
        {{ element[option.name] }}
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
</table>

<mat-paginator [length]="pagesCount"
               [pageSizeOptions]="[30, 50, 100]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>