<table mat-table
      [dataSource]="data"
      [matSortActive]="tableOptions.sort"
      matSortDirection="asc" matSort matSortDisableClear>

  <!-- Column -->
  <ng-container [matColumnDef]="option.name" *ngFor="let option of tableConfiguration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ option.title }}</th>

    <td mat-cell *matCellDef="let element">
      <ng-template #text
                   [ngIf]="isTypeOf(option.type, 'TableText')">
        {{ element[option.name] }}
      </ng-template>

      <ng-template #image
                   [ngIf]="isTypeOf(option.type, 'TableImage')">
        <div class="resource-img-container">
          <img class="resource-img" [src]="serverConfig.getResourcesUrl() + element[option.name]">
        </div>
      </ng-template>

      <ng-template #button
                   [ngIf]="isTypeOf(option.type, 'TableButton')">
        <span *ngIf="!getTableButton(option.type).expression(element[option.name])">
          {{ element[option.name] }}
        </span>

        <button *ngIf="getTableButton(option.type).expression(element[option.name])"
                mat-flat-button color="warn"
                (click)="getTableButton(option.type).click(element['id'], option.name)">
                {{ getTableButton(option.type).btn_text }}
        </button>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
</table>

<mat-paginator [length]="pagesCount"
               [pageSizeOptions]="[30, 50, 100]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>