<button id="phoneBtn" class="btn" data-bs-toggle="modal" data-bs-target="#callModal">
  <i class="fa fa-phone"></i>
</button>

<div id="callModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title fs-5">{{ "call_dialog.title" | translate }}</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <a href="tel:+37441214803">
                          <i class="fa fa-phone"></i>
                          &nbsp;&nbsp;+374 41 214-803
                      </a>
                      <br>
                      <a href="tel:+37477214803">
                          <i class="fa fa-phone"></i>
                          &nbsp;&nbsp;+374 77 214-803
                      </a>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ "call_dialog.dismiss" | translate }}</button>
          </div>
      </div>
  </div>
</div>