.introduction {
  padding: 50px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction h1 {
  text-align: center;
  color: var(--accent-color);
}

.introduction p {
  margin: 20px 0;

  text-align: center;
}

@media(min-width:768px) {
  .introduction {
    padding: 50px 0;
  }

  .introduction .container {
    padding: 0 15vw;
  }
}