<app-dashboard-card>
  <app-dashboard-actions-bar style="display: flex">
    <button action-bar-item
            mat-raised-button
            color="primary"
            (click)="newAdmin()">New</button>

    <span class="spacer"></span>

    <app-dashboard-action-bar-dropdown action-bar-item>
      <button mat-menu-item (click)="editAdmin()">Edit</button>
      <button mat-menu-item (click)="deleteItems()">Delete</button>
    </app-dashboard-action-bar-dropdown>
  </app-dashboard-actions-bar>
</app-dashboard-card>

<app-dashboard-card title="Admins">
  <app-dashboard-table [tableConfiguration]="tableConfiguration"
                       [data]="data"
                       [tableOptions]="tableOptions"
                       (tableOptionsChange)="tableOptionsChanged($event)"
                       [pagesCount]="1"
                       (selectedRowsChange)="selectedRows = $event">

  </app-dashboard-table>
</app-dashboard-card>
