<mat-card class="project-container">
  <ng-content></ng-content>

  <div class="checkbox">
    <mat-checkbox color="primary"
                 (change)="isChecked.emit($event.checked)">
    </mat-checkbox>
  </div>

  <div class="details">
    <p>{{ project.name }}</p>

    <a [href]="project.link" target="_blank"
        class="project-link" [matTooltip]="project.link">
      Project link
    </a>
  </div>

  <div class="image-container">
    <div class="image" [style.background-image]="'url(' + project.imageUrl + ')'"></div>
  </div>
</mat-card>
