<app-intro title="{{ 'template.portfolio.title' | translate }}"
           subtitle="{{ 'template.portfolio.subtitle' | translate }}">
</app-intro>

<content-intro title="{{ 'template.' + translateSectionName + '.jumbotron.title' | translate }}"
               subtitle="{{ 'template.' + translateSectionName + '.jumbotron.subtitle' | translate }}"
               id="page">
</content-intro>

<section class="portfolio">
  <div class="container">

    <app-search #search
                [addedTags]="filterTags.tags"
                (addedTagsUpdate)="filterTags.tags = $event"
                (searchSubmit)="submitSearch($event)">
    </app-search>

    <portfolio-filter-tag #filterTags
                          (update)="search.addedTags = $event; submitSearchOnlyTags(filterTags.tags)">
    </portfolio-filter-tag>

    <div class="projects">
      <portfolio-project *ngFor="let project of projects"
                         [projectModel]="project">
      </portfolio-project>
    </div>
  
    <portfolio-paginator [pagination]="pagination"
                         (pageChanged)="changePage($event)">
    </portfolio-paginator>

  </div>
</section>