<app-intro title="{{ 'template.services.' + translateSectionName + '.title' | translate }}"
           subtitle="{{ 'template.services.' + translateSectionName + '.subtitle' | translate }}">
</app-intro>

<content-intro title="{{ 'template.services.' + translateSectionName + '.jumbotron.title' | translate }}"
               subtitle="{{ 'template.services.' + translateSectionName + '.jumbotron.subtitle' | translate }}"
               id="page"></content-intro>

<services-tiles [starter]="starter"
                [standart]="standart"
                [pro]="pro">
</services-tiles>

<div class="circles">
  <services-circles title="Front-End"
                    [circles]="front_circles">

  </services-circles>
  
  <services-circles title="Back-End"
                    [circles]="back_circles">

  </services-circles>
</div>