.service {
  text-align: center;

  margin: 30px 0 !important;
  padding: 10px;

  background-color: var(--color-background-focused);
  box-shadow: 0 20px 50px 0 #000;
}

.service h2 {
  color: var(--accent-color);
  font-weight: bold;

  line-height: 1.5em;
  margin-top: 15px;
}

.service p {
  font-size: 20px;
}

.service__content {
  margin-bottom: 30px;

  position: relative;
}

.service .btn {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.service .btn:hover {
  -webkit-filter: brightness(80%);
     -moz-filter: brightness(80%);
      -ms-filter: brightness(80%);
       -o-filter: brightness(80%);
          filter: brightness(80%);
}

@media(min-width:768px) {
  .service {
    text-align: inherit;
  }

  .service p {
    text-indent: 15px;

    padding-bottom: 50px;
  }

  .service__content .btn {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
  }

  .service img {
    margin: 0 -10px;
  }
  
  .service h2 {
    margin-top: 0;
  }
}