<div class="flex flex-justify-content-center">

  <div class="search">
    <div class="search-row">
      <input type="text"
             placeholder="{{ 'template.portfolio.search.placeholder' | translate }}"
             name="search"
             autocomplete="off"
             #search
             (focus)="onSearchFocus()"
             (blur)="onSearchBlur()"
             (input)="onSearchChange($event)"
             (keydown)="onSearchKeyDown($event)">

      <app-loader class="loader"
                  [style.display]="showLoading ? 'block' : 'none'"
                  [speed]=".7"
                  [size]="'30px'"
                  [thickness]="'3px'">
      </app-loader>

      <button type="submit" (click)="submitSearch(search.value)">
        <i class="fas fa-search">&nbsp;</i>
      </button>
    </div>

    <div #searchResults class="search-results" [class.d-none]="!isShow">

      <div class="text-container" *ngIf="text_result.length">
        <ul (mousedown)="submitSearchByClickingListItem($event)">
          <li *ngFor="let text of text_result; let i = index"
              [class.focused]="i === focusedIndex">
            {{text}}
          </li>
        </ul>
      </div>

      <div class="tag-container container" *ngIf="tag_result.length">
        <div class="text"
            *ngFor="let tag of tag_result; let i = index"
            [ngClass]="tag.selected ? 'order-1' : 'order-2'"
            [style.background-color]="tag.tag.color">
          <button (click)="tagOnClick(i)"
                  [class.selected]="tag.selected"
                  >
            {{tag.tag.name}}
          </button>
        </div>
      </div>

    </div>
  </div>

</div>