.project-card {
  margin: 10px 5px;
  background-color: var(--color-darker);
}

.project-link {
  color: grey;
}

.project-link:hover {
  color: var(--color-primary);
}

.action-btn {
  margin: 3px;
}