<h1 mat-dialog-title>
  <div>Image crop tool</div>
  <div>Select the area you want to save</div>
</h1>

<div mat-dialog-content>
  <image-cropper [imageChangedEvent]="data.image"
                 [maintainAspectRatio]="false"
                 (imageCropped)="imageCropped($event)"
                 class="cropper">
  </image-cropper>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancle</button>
  <button mat-raised-button cdkFocusInitial color="primary" [mat-dialog-close]="croppedImage">Save</button>
</div>
