.paginator {
  display: flex;
  justify-content: center;
}

.paginator a {
  background-color: var(--color-dark);
  border-color: var(--color-light);
  color: var(--color-light);
}

.paginator a:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.paginator .active a {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.paginator .disabled a {
  background-color: #8a8a8a;
}

.paginator a {
  -webkit-user-select: none;
    -moz--user-select: none;
       -o-user-select: none;
      -ms-user-select: none;
          user-select: none;
}