<div class="paginator">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            
            <li class="page-item"
               [class.disabled]="pagination.activePage == 1">
                <a class="page-link"
                   aria-label="Previous"
                  (click)="setPage(pagination.activePage - 1)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li class="page-item"
               [class.active]="page == pagination.activePage"
               *ngFor="let page of pagesForDraw">
                <a class="page-link" (click)="setPage(page)">
                    {{page}}
                </a>
            </li>

            <li class="page-item disabled"
               *ngIf="pagination.activePage < pagination.totalPages - 3 && pagination.totalPages != 5">
                <a class="page-link">...</a>
            </li>

            <li class="page-item"
               [class.active]="pagination.activePage === pagination.totalPages"
               *ngIf="pagination.activePage < pagination.totalPages - 3 && pagination.totalPages != 5">
                <a class="page-link"
                  (click)="setPage(pagination.totalPages)">
                  {{pagination.totalPages}}
                </a>
            </li>

            <li class="page-item"
               [class.disabled]="pagination.activePage == pagination.totalPages">
                <a class="page-link"
                  (click)="setPage(pagination.activePage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>