.drag-list {
  margin-top: 15px;
}

.dragable-box {
  width: 100%;

  position: relative;
  box-sizing: border-box;

  margin-top: 2px;
}

.drag-handle {
  cursor: move;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .dragable-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
