<div class="tiles">
    <div class="container flex flex-justify-content-center">

        <div class="tile other" data-aos="fade-up">
            <div class="tile-content">
                <div class="title">
                    <h1>Starter</h1>
                </div>
                <div class="subtitle">
                    <p>{{starter.subtitle}}</p>
                </div>

                <div class="hr">&nbsp;</div>

                <div class="price">
                    <p class="amount">{{starter.price | currency}}</p>
                    <p class="description">{{ 'template.services.shared.tiles.lifetime' | translate }}</p>
                </div>

                <div class="list">
                    <ul>
                        <li *ngFor="let decription of starter.decription_list">{{decription}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tile" data-aos="fade-up">
            <div class="popular flex flex-justify-content-center">{{ 'template.services.shared.tiles.popular' | translate }}</div>

            <div class="tile-content">
                <div class="title">
                    <h1>Standart</h1>
                </div>
                <div class="subtitle">
                    <p>{{standart.subtitle}}</p>
                </div>

                <div class="hr">&nbsp;</div>

                <div class="price">
                    <p class="amount">{{standart.price | currency}}</p>
                    <p class="description">{{ 'template.services.shared.tiles.lifetime' | translate }}</p>
                </div>

                <div class="list">
                    <ul>
                        <li *ngFor="let decription of standart.decription_list">{{decription}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tile other" data-aos="fade-up">
            <div class="tile-content">
                <div class="title">
                    <h1>Pro</h1>
                </div>
                <div class="subtitle">
                    <p>{{pro.subtitle}}</p>
                </div>

                <div class="hr">&nbsp;</div>

                <div class="price">
                    <p class="amount">{{pro.price | currency}}</p>
                    <p class="description">{{ 'template.services.shared.tiles.lifetime' | translate }}</p>
                </div>

                <div class="list">
                    <ul>
                        <li *ngFor="let decription of pro.decription_list">{{decription}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
