<app-intro title="{{ 'template.portfolio.title' | translate }}"
           subtitle="{{ 'template.portfolio.subtitle' | translate }}">
</app-intro>

<section class="portfolio" id="page">
  <div class="container">

    <app-search #search
                [addedTags]="filterTags.tags"
                (addedTagsUpdate)="filterTags.tags = $event; updateTags($event)"
                (searchSubmit)="submitSearch($event)">
    </app-search>

    <portfolio-filter-tag #filterTags
                          (update)="search.addedTags = $event; updateTags($event)">
    </portfolio-filter-tag>

    <div class="projects">
      <portfolio-project *ngFor="let project of projects"
                         [projectModel]="project"
                         class="project">
      </portfolio-project>

      <portfolio-not-found [class.d-none]="projects?.length"
                           [hide]="hideNotFound">
      </portfolio-not-found>
    </div>
  
    <portfolio-paginator [pagination]="pagination"
                         (pageChanged)="changePage($event)">
    </portfolio-paginator>

  </div>
</section>