<div class="flex flex-justify-content-center">

  <div class="search">
    <div class="search-row">
      <input type="text"
             placeholder="{{ 'template.portfolio.search.placeholder' | translate }}"
             name="search"
             autocomplete="off"
             #search
             (focus)="this.isShow = true; onSearchFocus()"
             (blur)="this.isShow = false"
             (input)="onSearchChange($event)"
             (keydown)="onSearchKeyDown($event)">

      <button type="submit" (click)="submitSearch(search.value)">
        <i class="fas fa-search">&nbsp;</i>
      </button>
    </div>

    <div class="search-results" [class.d-none]="!isShow">

      <div class="text-container" *ngIf="text_result.length">
        <ul (mousedown)="submitSearchByClickingListItem($event)">
          <li *ngFor="let text of text_result; let i = index"
              [class.focused]="i === focusedIndex">
            {{text}}
          </li>
        </ul>
      </div>

      <div class="tag-container" *ngIf="tag_result.length">
        <div *ngFor="let tag of tag_result"
             [style.background-color]="tag.color"
              class="text">
          {{tag.text}}
        </div>
      </div>

    </div>
  </div>

</div>