.resource-img-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 5px 0;
}

.resource-img {
  height: 50px;
}


.color-container {
  display: flex;
  align-items: center;
}

.color-rect {
  display: inline-block;

  width: 20px;
  height: 20px;

  border: 1px solid gray;

  margin-right: 10px;
}
