<mat-card class="card">
  <mat-card-header>
    <mat-card-title>David Studio</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="loginForm" novalidate (ngSubmit)="submit()">
    <mat-card-content>
      <mat-form-field appearance="outline">

        <mat-label>Enter your username</mat-label>
        <input #username type="text" matInput placeholder="Username" formControlName="username">

        <mat-hint align="end">{{username.value.length}}/16</mat-hint>
        <mat-error>Username is invalid</mat-error>

      </mat-form-field>
      <br><br>
      <mat-form-field appearance="outline">

        <mat-label>Enter your password</mat-label>
        <input #password type="password" matInput placeholder="Password" formControlName="password">

        <mat-hint align="end">{{password.value.length}}/64</mat-hint>
        <mat-error>Password is invalid</mat-error>

      </mat-form-field>

      <mat-checkbox color="primary" formControlName="rememberMe">Remember Me</mat-checkbox>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button type="submit" mat-raised-button color="primary" class="actions__btn">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
